In [1]:
import pandas
import configparser
import psycopg2

In [2]:
config = configparser.ConfigParser()
config.read('config.ini')

db = config['myaws']['db']
host = config['myaws']['host']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [3]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

In [13]:
sql = """ insert into student(s_email, s_name, major)
values('{}','{}','{}')           
""".format('s5@jmu.edu', 's3', 'IA')
print(sql)

 insert into student(s_email, s_name, major)
values('s5@jmu.edu','s3','IA')

In [14]:
cur = conn.cursor()

In [15]:
cur.execute(sql)

In [16]:
cur.close

In [17]:
conn.close

In [5]:
df = pandas.read_sql_query(sql, conn)

#df.plot(x='built_in',y='avg_price')
df[:]
#df.groupby('house_type').mean()

/tmp/ipykernel_3229/2166153045.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

      s_email s_name major
0  s1@jmu.edu     s1    IA
1  s2@jmu.edu     s2    IA
2  s3@jmu.edu     s3  ISAT
3  s4@jmu.edu     s4  ISAT

In [6]:
#this way is better, it doesn't move data
sql = """
select avg(price) as avg_price, house_type
from house_price_full
group by house_type

"""

In [7]:
df = pandas.read_sql_query(sql, conn)
df

/tmp/ipykernel_3229/1688613977.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

DatabaseError: Execution failed on sql '
select avg(price) as avg_price, house_type
from house_price_full
group by house_type

': relation "house_price_full" does not exist
LINE 3: from house_price_full
             ^